<div class="servers" >
	<h2>Servers</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Current Status</th>
      </tr>
    </thead>
    <tbody>

	<% @servers.each do | server | %>

      <tr class="<%= server.status.priority %>" >
        <td><%= server.name %></td>
        <td><%= server.description %></td>
        <td><%= server.status.description %></td>
      </tr>

  	<% end %>

    </tbody>
  </table>
</div>

<div class="message">
	<%= render @messages %>
</div>

<div class="posts" >
	<h2>Past Incidents</h2>

	<%= render @posts %>

</div>
